## São Paulo price analysis per borough

In [22]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import matplotlib.cm as cm
import matplotlib.colors as colors
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim
!conda install -c conda-forge folium=0.5.0 --yes 
import folium
import json
from pandas.io.json import json_normalize 
from sklearn.cluster import KMeans

print("Done importing everything!")

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Done importing everything!

In [94]:
#Do the request to retrieve the week page with Sao Paulo boroughs
url_sp_boroughs = "https://en.wikipedia.org/wiki/Subdivisions_of_São_Paulo"
page_text = requests.get(url_sp_boroughs).text

#From the whole html of the wiki page, let's separate the interesting table
page_html = BeautifulSoup(page_text,"lxml")
boroughs_table_html = page_html.find("table",class_="toccolours")

In [95]:
#Create the dataframe from the hmlt and check what is looks like
sp_boroughs = pd.read_html(str(boroughs_table_html))[0]
sp_boroughs

,Regional prefecture,Regional prefecture.1,Regional prefecture.2,Regional prefecture.3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,1.0,Aricanduva,NaN,17.0,M'Boi Mirim
2,2.0,Butantã,NaN,18.0,Mooca
3,3.0,Campo Limpo,NaN,19.0,Parelheiros
4,4.0,Capela do Socorro,NaN,20.0,Penha
5,5.0,Casa Verde,NaN,21.0,Perus
6,6.0,Cidade Ademar,NaN,22.0,Pinheiros
7,7.0,Cidade Tiradentes,NaN,23.0,Pirituba-Jaraguá
8,8.0,Ermelino Matarazzo,NaN,24.0,Santana-Tucuruvi
9,9.0,Freguesia-Brasilândia,NaN,25.0,Santo Amaro
10,10.0,Guaianases,NaN,26.0,São Mateus
11,11.0,Ipiranga,NaN,27.0,São Miguel Paulista
12,12.0,Itaim Paulista,NaN,28.0,Sapopemba
13,13.0,Itaquera,NaN,29.0,Sé
14,14.0,Jabaquara,NaN,30.0,Vila Maria-Vila Guilherme
15,15.0,Jaçanã-Tremembé,NaN,31.0,Vila Mariana
16,16.0,Lapa,NaN,32.0,Vila Prudente
17,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN

In [96]:
#Drop the useless columns full of NaN
sp_boroughs.drop(["Regional prefecture","Regional prefecture.2","Regional prefecture.3"],axis=1,inplace=True)

#Drop the useless rows full of NaN
sp_boroughs.dropna(axis=0,inplace=True)

#The dataframe now has two interesting columns, we want to put all info in one single column

#Create an auxiliary dataframe with the last column
sp_boroughs_aux = sp_boroughs[["Unnamed: 4"]]
sp_boroughs_aux.columns = ["Regional prefecture.1"]

#Concatenate the original dataframe with the auxiliary one: put the info in the last column under in the 1st column
sp_boroughs = pd.concat([sp_boroughs,sp_boroughs_aux],ignore_index=True,axis=0,sort=False)

#The last column is now useless, drop it
sp_boroughs.drop(["Unnamed: 4"],axis=1,inplace=True)

#Rename the remaining column
sp_boroughs.columns = ["Borough"]

#Check out the result
sp_boroughs

                      Borough
0                  Aricanduva
1                     Butantã
2                 Campo Limpo
3           Capela do Socorro
4                  Casa Verde
5               Cidade Ademar
6           Cidade Tiradentes
7          Ermelino Matarazzo
8       Freguesia-Brasilândia
9                  Guaianases
10                   Ipiranga
11             Itaim Paulista
12                   Itaquera
13                  Jabaquara
14            Jaçanã-Tremembé
15                       Lapa
16                M'Boi Mirim
17                      Mooca
18                Parelheiros
19                      Penha
20                      Perus
21                  Pinheiros
22           Pirituba-Jaraguá
23           Santana-Tucuruvi
24                Santo Amaro
25                 São Mateus
26        São Miguel Paulista
27                  Sapopemba
28                         Sé
29  Vila Maria-Vila Guilherme
30               Vila Mariana
31              Vila Prudente

In [97]:
#Function to retrieve the latitude from a borough in a given row
def get_latitude_borough_sp(row):
    address = row["Borough"] + ", São Paulo, SP, Brazil"
    geolocator = Nominatim(user_agent="sp_explorer")
    location = geolocator.geocode(address)
    try:
        return location.latitude
    except:
        return np.nan

#Function to retrieve the longitude from a borough in a given row
def get_longitude_borough_sp(row):
    address = row["Borough"] + ", São Paulo, SP, Brazil"
    geolocator = Nominatim(user_agent="sp_explorer")
    location = geolocator.geocode(address)
    try:
        return location.longitude
    except:
        return np.nan

In [98]:
#Let's assign the latitudes of the boroughs in our dataframe
sp_boroughs["Latitude"] = sp_boroughs.apply(get_latitude_borough_sp, axis=1)

In [100]:
#Let's assign the longitudes of the boroughs in our dataframe
sp_boroughs["Longitude"] = sp_boroughs.apply(get_longitude_borough_sp, axis=1)

In [101]:
#Check it out
sp_boroughs

                      Borough   Latitude  Longitude
0                  Aricanduva -23.578024 -46.511454
1                     Butantã -23.571900 -46.708090
2                 Campo Limpo -23.648880 -46.758729
3           Capela do Socorro        NaN        NaN
4                  Casa Verde -23.505927 -46.656138
5               Cidade Ademar -23.673012 -46.655281
6           Cidade Tiradentes -23.582497 -46.409207
7          Ermelino Matarazzo -23.491674 -46.484070
8       Freguesia-Brasilândia -23.483494 -46.687149
9                  Guaianases -23.542308 -46.415605
10                   Ipiranga -23.589273 -46.606162
11             Itaim Paulista -23.501765 -46.399609
12                   Itaquera -23.536080 -46.455510
13                  Jabaquara -23.652066 -46.650037
14            Jaçanã-Tremembé -23.448288 -46.602976
15                       Lapa -23.521576 -46.704349
16                M'Boi Mirim -23.670459 -46.738839
17                      Mooca -23.560681 -46.597192
18                Parelheiros -23.824791 -46.733078
19                      Penha -23.523683 -46.543782
20                      Perus -23.408492 -46.743632
21                  Pinheiros -23.565935 -46.703149
22           Pirituba-Jaraguá -23.436780 -46.720529
23           Santana-Tucuruvi -23.502068 -46.624720
24                Santo Amaro -23.642515 -46.699890
25                 São Mateus -23.598299 -46.481705
26        São Miguel Paulista -23.490554 -46.443666
27                  Sapopemba -23.604326 -46.509885
28                         Sé -23.550443 -46.633446
29  Vila Maria-Vila Guilherme        NaN        NaN
30               Vila Mariana -23.589190 -46.634653
31              Vila Prudente -23.584416 -46.581956

In [102]:
#Remove rows of boroughs that do not have latitude or longitude
sp_boroughs.dropna(axis=0,inplace=True)

#Reset the index after droping rows
sp_boroughs.reset_index(drop=True, inplace=True)

#Check it out
sp_boroughs

                  Borough   Latitude  Longitude
0              Aricanduva -23.578024 -46.511454
1                 Butantã -23.571900 -46.708090
2             Campo Limpo -23.648880 -46.758729
3              Casa Verde -23.505927 -46.656138
4           Cidade Ademar -23.673012 -46.655281
5       Cidade Tiradentes -23.582497 -46.409207
6      Ermelino Matarazzo -23.491674 -46.484070
7   Freguesia-Brasilândia -23.483494 -46.687149
8              Guaianases -23.542308 -46.415605
9                Ipiranga -23.589273 -46.606162
10         Itaim Paulista -23.501765 -46.399609
11               Itaquera -23.536080 -46.455510
12              Jabaquara -23.652066 -46.650037
13        Jaçanã-Tremembé -23.448288 -46.602976
14                   Lapa -23.521576 -46.704349
15            M'Boi Mirim -23.670459 -46.738839
16                  Mooca -23.560681 -46.597192
17            Parelheiros -23.824791 -46.733078
18                  Penha -23.523683 -46.543782
19                  Perus -23.408492 -46.743632
20              Pinheiros -23.565935 -46.703149
21       Pirituba-Jaraguá -23.436780 -46.720529
22       Santana-Tucuruvi -23.502068 -46.624720
23            Santo Amaro -23.642515 -46.699890
24             São Mateus -23.598299 -46.481705
25    São Miguel Paulista -23.490554 -46.443666
26              Sapopemba -23.604326 -46.509885
27                     Sé -23.550443 -46.633446
28           Vila Mariana -23.589190 -46.634653
29          Vila Prudente -23.584416 -46.581956